<style > body {
    font-family: Avenir;
    color: #777777;
    font-weight: bold;
    font-size: 1.2rem;
}

#holder {
    font-family: Avenir;
    color: #777777;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
   
}

#title {
    text-align: center;
    background-color: #666666;
    margin-bottom: 10%;
    height: 0;
    position: relative;
    font-size: 2.2rem;
    width: 80%;
}

@font-face {
    font-family: Avenir;
    src: url(Avenir.otf);
}

.grid {
    display: flex;
    /* establish flex container */
    flex-wrap: wrap;
    /* enable flex items to wrap */
    justify-content: space-around;
    height: 20%;
    width: 80%;
    align-content: center margin: auto;
}

.label,
.cell {
    text-align: center;
}

.cell {
    flex: 0 0 23%;
    /* don't grow, don't shrink, width */
    margin-bottom: 5px;
}

.cell img {
    width: 80%;
}

div .check {
    width: 90%;
    height: 90%;
}

@keyframes tada {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    38% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    55% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    72% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    81% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1.24);
        transform: scale(1.24);
    }
    89% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    95% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
    100% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.checked {
    animation: tada 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 alternate;
}

.hidden {

    opacity: 0;

}

.checkboxHolder {

    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
}

.check {
    text-align: center;

}

#winner {
    visibility:hidden;
    z-index:100;
    left:0;
    top:0;
    background-color:white;
    position: absolute;
    width: 100%;
    height: 100%;
}

#winnerTitle {
    text-align: center;
    background-color: #666666;
    margin-bottom: 10%;
    height: 0;
    position: relative;
    font-size: 2.2rem;
    width: 80%;
}

#winnerImage {
    width: 50%;
    height: 50%;
    position: absolute;
    padding-left: 10%;
}

</style >
